[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
IMDbPY = "*"
plexapi = "*"
jsonpickle = "*"
python-dateutil = "*"
colorama = "*"
bs4 = "*"
parsedatetime = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
